body {
  background-color: #eee;
}

h5 {
  padding-top: 0;
  margin-top: 6px;
  padding-bottom: 0;
  margin-bottom: 6px;
}

label {
  display: block;
  color: inherit;
}

.submit {
  margin-top: 12px;
}

.valid {
  color: green;
}

.error {
  color: red;
}
